/*Спецификации*/
@font-face {
    font-family: "OSR";
    src: url("../styles/OpenSansR.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "OSB";
    src: url("../styles/OpenSansB.ttf");
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, a, p, ul,li {
    margin: 0;
    padding: 0;
    font-family: "OSR";
    overflow-x: hidden;
}

ul, li {
	list-style-type: none;
	cursor: pointer 
}

a {
    text-decoration: none;
}

header {
	background-color: #cb0a1d;
	z-index: 100;
}


.container {
	position: relative;
	width: 100%;
}

button  {
	cursor: pointer;
}

button, a, input, select, option {
	outline: none;
}

option {
	border-radius: 30px;
}

select {
	font-family: "OSB";
	font-size: 15px;
	color: #cb0a1d;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	cursor: pointer;
	
}

.profile-container-menu__item span:hover{
	color: #cb0a1d;
	transition: .3s; 
}

.star-container button {
	margin-left: 5px;
}

.search-input  {
    background-image: url('../img/search-icon2.svg');
    -webkit-background-size: auto 80%;
     background-size: auto 80%; 
    border: none;  
    background-repeat: no-repeat;    
    background-position: 95%;  
    outline: none;
    width: 100%;   
    -moz-border-radius: 12px;  
    -webkit-border-radius: 12px;   
    border-radius: 12px;   
    padding-left: 10px; 
    height: 20px;   
    font-size: 13px; 
    font-family: "OSB";
    margin-right: 15px;
}

.navbar {
	position: fixed;
	bottom: 0;
	flex-grow: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	box-shadow: 0 0 8px 5px rgba(221, 221, 221, 1);
	margin-top: 20px;
	width: 100%;
	z-index: 150;
	background-color: white;
}

.navbar-1024px {
	position: fixed;
	bottom: 0;
	flex-grow: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	box-shadow: 0 0 8px 5px rgba(221, 221, 221, 1);
	margin-top: 20px;
	width: 100%;
	z-index: 150;
	background-color: white;	
}

.navbar__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
}

.navbar__img {
	height: 35px;
	padding-top: 3px;
}


.navbar__name {
	font-size: 13px;
	text-decoration: none;
	color: #b8b8b8;
}

/*Sidebar*/

.bg-container {
	position: fixed;
	height: 100%;
	transform: translateX(-100%);
	z-index: 9;
}

.bg-container.-isOpenBg {
    transform: translateX(0);
}

.header__search {
	display: flex;
	transition: .3s ease-out;
}

.header__search.-isSearched2 {
	display: none;
	transition: .3s;
}

.sidebar-container {
	position: fixed;
	background-color: #ffffff;
    transition: .3s ease-out;
    transform: translateX(-100%);
    height: 100%;
    width: 80%;
    z-index: 200;
    overflow: hidden;
    overflow-y: scroll; 
}

.sidebar-container.-isOpenSb {
    transform: translateX(0%);
}

.header__menu {
	display: block;
}

.profile-container {
	padding: 10px;
	background-color: white;
}

.profile-container-fixed {
	position: fixed;
	bottom: 0;
	top: 50px;
	padding: 10px;
	background-color: white;
}

.profile-info-container__name {
	font-family: "OSB";
	font-size: 17px;
}

.profile-info-container span {
	font-size: 13px;
	line-height: 10px;
	font-family: "OSB";
	color: black;
}

.profile-info-container h3 {
	color: black;
}

.profile-info-container__subs {
	color: #cb0a1d;
	font-family: "OSB";
}

.profile-img-container {
	border-radius: 50%; 
}

.profile-img-container img {
	padding: 5px; 
}

.profile-container__preview {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.profile-container__preview img {
	height: 50px;
}

.profile-container__preview h2  {
	padding-left: 5px;
	font-size: 20px;
}

.profile-container-menu {
	margin-top: 25px;
	margin-left: 10px;
}

.profile-container-menu__item {
	padding-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.profile-img-container-menu {
	width: 30px;
	text-align: center;
}

.profile-container-menu__item img {
	height: 20px;
}

.profile-container-menu__item span {
	font-size: 15px;
	color: #b8b8b8;
	padding-left: 15px;
}

.reg-container__form {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.reg-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin-top: 50px;
	margin-left: 5px;
	margin-bottom: 25px;
}

.reg-btn {
	width: 100px;
	background-color: #cb0a1d;
	color: white;
	font-family: "OSB";
	border: none;
	border-radius: 3px;
	padding: 5px;
	margin-right: 10px;

}

.forgot-password {
	text-align: center;
	color: #cb0a1d;
}

.reg-container__forgotp {
	padding-top: 10px;
}

.links-logo {
	height: 13px;
}

.info-container {
	padding-left: 10px;
	margin-bottom: 30px;
}

.links-text {
	color: gray;
	font-size: 	10px;
	padding-left: 10px;
	font-family: "OSB";
}

.info-container-links {
	align-items: center;
	padding-top: 30px;
}

.info-container-links__item {
	display: flex;
	align-items: center;
	padding-top: 10px;
}

.info-container-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
}




.search-container {
	position: fixed;
	display: flex;
	align-items: center;
	background-color: #cb0a1d;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 1;
	transform: translateX(100%);
	transition: .3s ease-out;	
}

.search-container.-isSearched {
	transform: translateX(0);	
}

.bg-container-search {
	position: fixed;
	height: 90%;
	transform: translateY(-100%);
	z-index: 9;
}

.bg-container-search.-isOpenBgs {
    transform: translateY(15%);
}

.search-container input {
	width: 100%;
}

/*Первый экран*/

.header__icon {
	height: 20px;
}

.header__logo {
	height: 40px;
	padding-left: 20px;
}

.header-container__item {
	display: flex;
	align-items: center;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
}

.header-container-1024px {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
}

.header-container div {
	align-self: center;
}

.genre-container {
	bottom: 0;
	background-color: #fbfbfb;
}


.genre-container__item {
	background-color: #fff;
	justify-content: flex-start;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	border-radius: 10px;
	padding-left: 10px;
}

.genre-container-margin {
	margin-bottom: 100px;
}

.genre-container__name {
	color: black;
	font-weight: 900;
	font-size: 15px;
}

.genre-container__number {
	color: #b8b8b8;
	font-size: 13px;
}

.adv-logo {
	height: 75px;
} 

.adv-container {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.timetable-container {
	display: flex;
	justify-content: center;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	flex-direction: column;
	margin-bottom: 70px;
}

.timetable-container__item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 10px;
	border: 2px solid #cb0a1d;
	border-radius: 10px;
	padding: 10px;
}

.timetable-container__item span{
	font-size: 13px;
}

.timetable-container__name {
	font-weight: 900;
}

.timetable-container__date {
	font-weight: 900;
}

.timetable-container__text {
	font-size: 12px;
}

.year-container {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
}


.year-container2 {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.left-menu-mq {
	position: relative;
	width: 35%;
	box-shadow: 1px 0 16px 1px gray;
}
.left-menu-100vh {
	position: relative;
	width: 35%;
	box-shadow: 1px 0 16px 1px gray;
	height: calc(100vh - 50px);
}

.right-menu-mq {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #fdfdfd;
}

.desktop-menu-mq {display: flex;}


.timetable-container-mq {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}


/*Второй экран*/

.title-container {
	display: inline-flex;
	height: 40px;
	line-height: 40px;
	background-color: white;
	widows: 100%;
	padding-left: 10px;
}

.title-container__img img {
	height: 20px;
	margin-top: 10px;
}

.title-container__text {
	display: flex;

}

.title-container__text h3 {
	color: #cb0a1d;
	padding-left: 10px;
}

.title-container__text a {
	color: #cb0a1d;
	font-size: 10px;
	font-weight: 700;
	padding-left: 5px;
	padding-top: 2px;
}




.movie-container {
	display: flex;
}

.movie-all-container {
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
}

.movie-container__info {
	display: flex;
	flex-direction: column;
	padding-left: 5px;
}

.movie-container__info span{
	font-size: 13px;
}

.movie-container__info h3 {
	font-family: "OSB";
	font-size: 15px;
	color: black	
}

.star-container {
	display: flex;
	align-items: center;
}

.star-container span {
	color: #cb0a1d;
	font-family: "OSB";
	font-size: 13px;
}

.star-container img {
	height: 20px;
	padding-right: 5px;
}

.bold-info {
	font-family: "OSB";
	color: black;
	font-size: 14px;
}

.plain-info {
	color: black;
	font-size: 14px;
	word-wrap: break-word;
	text-align: justify;
	width: 100%;
}

.round-container {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	width: 100%;	
}

.round-container__item {
	margin-top: 5px;
	margin-left: 2px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #cb0a1d;
	border-radius: 10px;
	color: white;
	display: flex;
	align-items: center;
}

.round-container__item span {
	font-family: "OSB";
	font-size: 10px;
}


.movie-container__update span {
	color: #06c35b;
	font-size: 11px;
}

.voiceover-info {
	text-overflow: ellipsis;
}

.page-scroller {
	display: flex;
	justify-content: center;
}

.page-scroller__item {
	margin-left: 5px;
	padding: 5px; 
}

.page-scroller__item a {
	color: #cb0a1d;
	font-size: 13px;
}

.current-page {
		      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #cb0a1d;
      padding-left: 13px;
      padding-right: 13px;
}

.current-page a {
      color: white;
}


/*Третий экран*/

.movie-container__update2 {
	margin-top: 10px;
}

.roles-container {
	margin-top: 10px;
}


.tabs {
	display: flex;
	justify-content: center;
	position:relative;
	margin-left: 10px;
	margin-right: 10px;
}

.tab {
	display: inline-flex;
	margin-left: -15px;
}

.center-tab {
	border-right: 2px solid #e4e4e4;
	border-left: 2px solid #e4e4e4;
}

.other-tab {
	border-radius: 20px 0 0 20px;
	padding-left: 15px;
	padding-right: 10px;
}

.tab>span {
	cursor:pointer;
	color: #cb0a1d;
	background-color: #f5f5f5;
	font-family: "OSB";
	font-size: 12px;
	padding-left: 11px;
	padding-right: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.tab>span.selected{ 
	background: #cb0a1d;
	color: white;
}
.tab-content {
	margin-top: 20px;
	display:none;
	position:absolute;
	left:0;
	top:18px;
	background: white;
	color: black;
	width: 100%;
}

.comments-container {
	margin-top: 20px;
	margin-bottom: 100px;
}

.comments-container__item {
	margin-top: 20px;
}

.comments-container__post input {
	width: 100%;
	min-height: 100px;
	border: none;
	box-shadow: 0 0 6px 3px rgba(221, 221, 221, 1);
	border-radius: 10px;
	padding: 10px;
	padding-bottom: 70px;
}

.comments-container__post button, 
.comments-container__load button {
	width: 100%;
    background-color: #cb0a1d;
    color: white;
    padding: 5px;
    font-size: 15px;
    font-family: "OSR";
    border: none;
	border-radius: 10px;
	margin-top: 10px;
}

.comments-container__item__author {
	display: flex;
	align-items: center;
}

.comment-id {
	color: #cb0a1d;
	font-size: 15px;
	font-family: "OSB";
}

.comment-date {
	color: gray;
	font-size: 13px;
	padding-left: 5px;
}

.comments-container__item__comment span {
	font-size: 13px;
	color: black;
}

.comments-container-response__item {
	border-left: 1px solid gray;
	padding-left: 5px;
	margin-top: 10px;
	margin-left: 20px;
}

.comments-container-response__button {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.comments-container-response__button button {
	border-radius: 5px;
	color: #cb0a1d;
	border: 1px solid #cb0a1d;
	background: none;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;	
}

.comments-container-response__button button:hover {
	color: white;
	border: 1px solid #cb0a1d;
	background: #cb0a1d;	
	transition: .3s;
}


/*Профиль*/

.profile-page-container {
	margin-top: 30px;
	margin-bottom: 100px;
	margin-top: 100px;
	background-color: none;
}

.profile-container-desc {
	margin-left: 50px;
}

.profile-page-container__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: none;
	justify-content: center;
}

.profile-page-container-set {
	margin-top: 50px;
}

.profile-btn {
	background-color: #cb0a1d;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	border-radius: 3px;
}

.sub {
	background-color: #cb0a1d;
	color: white;
   	text-align: left;
	padding-left: 30px;	
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	border: none;
	border-radius: 7px;	
	background-image: url('../img/play-icon.svg');
	background-repeat: no-repeat;
	-webkit-background-size: auto 60%;
    background-size: auto 60%;
	background-position: 5%;
	font-family: "OSB" 		
}

.profile-page-container-btns__row {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

.profile-page-container-btns_cbtn {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.profile-page-container-btns_cbtn button {
	font-family: "OSB"
}
 
.first-btn {
	margin-right: 10px;s
}

.second-btn {
	margin-left: 10px;
}

/*Регистрация*/

.reg-page-container {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.round-container__item {
	margin-right: 2px;
	margin-bottom: 5px;
}

.reg-page-container__title h3 {

}

.reg-page-container__forms {
	margin-top: 30px;
}

.reg-page-container__forms input {
	width: 100%;
	border: 1px solid #cb0a1d;
	border-radius: 5px;
	background-color: none;
	padding: 5px;
	margin-top: 10px;
}

.reg-page-container__network {
	display: flex;
	flex-direction: column;
	margin-top: 30px
}

.reg-page-container__network button {
	margin-top: 15px;
	background-color: #cb0a1d;
	color: white;
	border: none;
	text-align: left;
	padding-left: 60px;
	border-radius: 3px;
	background-position: 7%; 
	background-repeat: no-repeat;
	height: 28px;
	margin-left: 15px;
	margin-right: 15px;
}

.reg-page-container__reg {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	margin-bottom: 80px;

}

.reg-page-container__reg button {
	background-color: #cb0a1d;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	border-radius: 3px;
}

.vk {
	background-image: url('../img/vk.svg');
	-webkit-background-size: auto 90%;
    background-size: auto 90%; 	
}

.odno {
	background-image: url('../img/odnoklassniki.svg');
	-webkit-background-size: auto 80%;
    background-size: auto 80%;	
}

.fb {
	background-image: url('../img/facebook-logo.svg');
		-webkit-background-size: auto 80%;
    background-size: auto 80%;
}


/*Актеры*/

.actors-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 10px;
	margin-right: 10px;
	justify-content: center;
	margin-bottom: 90px;
}

.actors-container__item {
	height: 50px;
	width: 50px;
	box-shadow: 0 0 3px 1px rgba(221, 221, 221, 1);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	margin-top: 30px;
}


.actors-container__item span {
	color: black;
	font-family: "OSB";
}

.actor-img {
	height: 130px;
}

.birthdate {
	margin-top: 10px;
}

.star {
	margin-top: 5px;
}

.series-container {
	margin-bottom: 50px;
}

.series-container__item {
	border: 1px solid #cb0a1d;
	background-color: none;
	border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
}

.movie-feed-container {
	margin-bottom: 100px;
}

.movie-feed-container2 {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 100px;
}

.series-container__item:hover span{
	background-color: #cb0a1d;
	color: white;
	transition: .3s; 
}

.series-container__item:hover{
	background-color: #cb0a1d;
	color: white;
	transition: .3s; 
}

.series-container__item span {
	color: #cb0a1d;
}

.download-btn-container {
	display: flex;
	justify-content: space-around;
	margin-top: 260px;
	margin-right: 10px;
	margin-left: 10px;
}

.download-btn-container button {
	background-color: #cb0a1d;
	color: white;
	border: none;
	border-radius: 3px;
	padding: 5px;
	width: 150px;		
}

@media screen and (max-width: 320px) {
	.movie-all-container-desk span {
		font-size: 11px;
	}
	.movie-all-container-desk h3 {
		font-size: 13px;
	}	

	.round-container__item span {
		font-size: 10px;
	}	
}

@media screen and (max-width: 425px) {

	.film-all-container {
		padding-top: 10px;
		display: flex;
		flex-direction: column;
	}
}

@media screen and (min-width: 320px) {
	.under-1024px {
		display: block;
	}
	.above-1024px {
		display: none;
	}	
}
/*Media Queries*/

@media screen and (max-width: 767px) {
	
	.header-container {
		display: flex;	
	}

	.header-container2 {
		display: none;
	}

	.navbar {
		display: flex;
	}
	
	.genre-container-mq {
		display: flex;
	}

	.year-container {
		display: none;
	}
	.left-menu-mq,
	.left-menu-100vh,
	.profile-container2,
	.profile-container2-content{
		display: none;
	}
	.timetable-right {
		display: none;
	}

	.timetable-container-mq__item {
		width: 100%;
	}		
	.under-768px {
		display: block;
	}
	.above-768px {
		display: none;
	}
	.year-container2 {
		display: none;
	}
}


@media screen and (min-width: 768px) {
	.right-menu2,
	.right-menu3{
		margin-left: 270px;
	}	
	.header-container {
		display: none;	
	}

	.header-container2 {
		display: flex;
	}

	.navbar {
		display: none;
	}

	.genre-container-mq {
		display: none;
	}	
	.year-container {
		display: flex;
	}		
	.adv-container img {
		height: 120px;
	}
	.right-menu-mq {
		margin-top: 15px;
		margin-left: 15px;
	}
	
	.timetable-container-mq__item  {
		width: 50%;
	}
	.timetable-left {
		margin-right: 20px;
	}

	.timetable-right {
		margin-left: 20px;
	}
	.under-768px {
		display: none;
	}
	.above-768px {
		display: block;
	}
	.reg-page-container__forms {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.reg-page-container__forms input {
		border: 2px solid #cb0a1d;
		border-radius: 30px;
		background-color: none;
		padding: 5px;
		margin-top: 30px;
		font-family: "OSB";
		width: 300px;
	}

	.reg-page-container {
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.reg-page-container__network button,
	.reg-page-container__reg button {
		border-radius: 30px;
	}
	.main-info-container {
		display: flex;
		width: 100%;
	}

	.main-info-container__text {
		padding-left: 15px;
	}

	.main-info-container__img img {
		height: 250px;
	}

	.star-container button {
		margin-left: 5px;
	}

	.additional-info-preview {
		width: 250px;
	}

	.main-info-container__row-info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.additional-info-preview {

	}

	.left-content-container {
		width: 50%;
	}

	.desktop-title {
		padding-bottom: 10px;
	}

	.main-content-container {display: flex; margin-top: 20px;}

	.desktop-vid {
		background-color: black;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}


	.download-btn-container-desk {
		display: flex;
		justify-content: space-around;
		margin-top: 20px;
		margin-right: 10px;
		margin-left: 10px;
	}

	.download-btn-container-desk button {
		background-color: #cb0a1d;
		color: white;
		border: none;
		border-radius: 3px;
		padding: 5px;
		width: 150px;		
	}

	.right-content-container {
		margin-left: 15px;
	}
	.movie-container__img img {
		height: 180px;
	}
}

@media screen and (min-width: 425px) {
	.video-container {
		height: 350px;
	}
}

@media screen and (min-width: 320px) {
	.video-container {
		height: 200px;
	}
}
   

@media screen and (min-width: 1024px) {
	.year-col {
		margin-right: 42px;
	}
	.adv-container img {
		height: 120px;
	}
	.search-input {
		width: 400px;
	}
	.main-content-container {
		margin-bottom: 20px;
	}
	.header-container-1024px {
		display: none
	}
	.navbar-1024px {
		display: none;
	}
	.under-1024px {
		display: none;
	}
	.above-1024px {
		display: block;
	}	
	.movie-container__info div {
		margin-top: 5px;
	}
}

@media screen and (min-width: 1440px) {
	.g1 {
		margin-right: 60px;
	}
	.left-menu-mq,
	.left-menu-100vh {
		width: 25%;
	}	
	.adv-container img {
		height: 120px;
		width: 100%;
	}	
	.genre-container__name {
		font-size: 20px;
	}
	.genre-container__number {
		font-size: 18px;
	}
	.genre-container__item {
		margin-right: 40px;
	}
	.desktop-vid {
		height: 300px;
	}
	.additional-info-preview {
		width: 350px;
	}	
	.movie-all-container-desk span,
	.movie-all-container span {
		font-size: 14px;
	}
	.movie-all-container-desk h3,
	.movie-all-container h3 {
		font-size: 16px;
	}	

	.round-container__item span {
		font-size: 12px;
	}	
	.movie-container__img img,
	.actor-img {
		height: 160px;
	}
}
@media screen and (min-width: 1920px) {
	.year-col {
		margin-right: 160px;
	}
	.left-menu-mq,
	.left-menu-100vh {
		width: 15%;
	}
	.desktop-vid {
		height: 500px;
		width: 800px;
	}
	
	.film-all-container {
		justify-content: space-between;
	}
	.movie-all-container-desk span,
	.movie-all-container span {
		font-size: 16px;
	}
	.movie-all-container-desk h3,
	.movie-all-container h3 {
		font-size: 18px;
	}	

	.round-container__item span {
		font-size: 12px;
	}	
	.movie-container__img img,
	.actor-img {
		height: 180px;
	}

	.movie-container__info div {
		margin-top: 8px;
	}
	.actor-all-container {
		margin-top: 30px;
	}
	.actor-container-left {
		margin-left: 50px;
	}
	.letter-container {
		margin-right: 100px;
	}
}

.actor-all-container {
	margin-top: 20px;
}


/*NEW HEADER*/

.header-container2 {
	align-items: center;
	height: 50px;
	justify-content: space-between;
	width: 100%;
}

.header-logo2 {
	height: 45px;
	margin-left: 10px;
}

.navbar__item2 {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

.header-container2__navbar {
	display: flex; 
	flex-direction: row;
}


.header-container2__search {
	display: flex;
}

.navbar__img2 {
	height: 20px;
}

.navbar__name2 {
	color: #eba2a9;
	font-size: 12px;
}

.header-container2__img {
	display: flex;
}

.search-input {
	margin-right: 10px;
}

.bubble-container {
	position: relative;
	display: flex;
	justify-content: center;
}

.bubble-container__item {
	left: 35px;
	position: absolute;
	background-color: #cb0a1d;
    border-radius: 10px;
    padding-left: 5px;
    height: 18px;
    width: 18px;
    font-size: 12px;
    color: white;
    background-color: #cb0a1d;
}

.bubble-container2 {
	position: relative;
	display: flex;
	justify-content: center;
}

.bubble-container2__item {
	left: 32px;
	position: absolute;
	background-color: #fff;
    border-radius: 10px;
    padding-left: 5px;
    padding-bottom: 4px;
    height: 15px;
    width: 15px;
    font-size: 12px;
    color: #cb0a1d;
}



/* Selects */
/* General Select */
label.selectGeneral
{
    display: block;
    position: relative;
    cursor: pointer;

    width: 55px;
    height: 40px;
	z-index: 1;
    font-size: 18px;

    margin: 2px 0;
    border-radius: 0;

    padding-top: 3px;
    color: #cb0a1d;
}

label.selectGeneral:before
{
    content: attr(placeholder);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
	z-index: -1;

    max-width: 100%;
    height: 34px;

    padding-left: 10px;
    padding-top: 3px;

    line-height: 34px;
    white-space: nowrap;
	font-weight: 700;

    overflow: hidden;

    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

select {
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


label.selectGeneral label
{
    display: inline-block;

    min-width: 100%;
    height: 34px;
    font-size: 18px;
    font-weight: normal;
    line-height: 34px;
    white-space: nowrap;
	text-align: center;
	color: #cb0a1d;
	padding-right: 3px;
	padding-left: 3px;
    background-color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

label.selectGeneral input,
label.selectGeneral label
{
    display: none;
}

label.selectGeneral div
{
    min-width: 100%;
    max-height: 500px;

    overflow-x: hidden;
}

label.selectGeneral input[type="radio"]:checked ~ div
{
    position: absolute;
    top: 34px;
    z-index: 999;

    overflow-y: auto;
    box-shadow: 0 0 12px 2px #d6d6d6;
}

label.selectGeneral input[type="radio"]:checked ~ div > label,
label.selectGeneral input[type="radio"]:checked + label
{
    display: block;
}

label.selectGeneral input[type="radio"]:checked ~ div > label:hover
{
    background-color: #cb0a1d;
    color: white;
    transition: .3s;
}

label.selectGeneral input[type="radio"]:not(:checked) ~ div > input[type="radio"]:checked + label
{
    position: relative;
    z-index: -1;
}







